.mensaje {
    color: rgb(244, 0, 0);
}
.caja {
    padding: 20px; /* Espacio entre el contenido y el recuadro */
    border: 1px solid #f1dd14; /* Borde del recuadro */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombreado */
    background-color: #f1dd14; /* Color de fondo */
    background-image: url('image/postit.jpg');
    background-repeat: repeat; /* Repetir la textura tanto en el eje X como en el eje Y */
    background-size: auto;
}