.caja{
    margin-right: auto;
    margin-left: auto;
}
.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.cliente {
    padding: 20px; /* Espacio entre el contenido y el recuadro */
    border: 1px solid #f1dd14; /* Borde del recuadro */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombreado */
    background-color: #f1dd14; /* Color de fondo */
    background-image: url('image/1.jpg');
    background-repeat: repeat; /* Repetir la textura tanto en el eje X como en el eje Y */
    background-size: auto;
}
.cliente {
    padding: 20px; /* Espacio entre el contenido y el recuadro */
    border: 1px solid #f1dd14; /* Borde del recuadro */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombreado */
    background-color: #f1dd14; /* Color de fondo */
    background-image: url('image/2.jpg');
    background-repeat: repeat; /* Repetir la textura tanto en el eje X como en el eje Y */
    background-size: auto;
}
.editar {
    padding: 20px; /* Espacio entre el contenido y el recuadro */
    border: 1px solid #f1dd14; /* Borde del recuadro */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombreado */
    background-color: #f1dd14; /* Color de fondo */
    background-image: url('image/3.jpg');
    background-repeat: repeat; /* Repetir la textura tanto en el eje X como en el eje Y */
    background-size: auto;
}
