{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4 mx-auto caja">
        <h2>Iniciar sesión</h2>
        <form method="post">
            {% csrf_token %}
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required class="form-control"><br>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required class="form-control"><br>
            <button type="submit" class="btn btn-info">Iniciar sesión</button>
        </form>
        {% if messages %}
        {% for message in messages %}
        <div class="mensaje">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
