{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link href="{% static 'css/servicios.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row container-fluid">
        <div class="col-md-3 mx-auto sidebar">
            <div class="list-group 1">
                {% for servicio in servicios %}
                <a href="{{ servicio.id }}" class="list-group-item list-group-item-action servicio-link">{{ servicio }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 mx-auto caja">
            <h1>Cargar Cliente</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
    <div class="row container-fluid 2" style="margin-top: 20px;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cédula</th>
                    <th>Servicio</th>
                    <th>Prioridad</th>
                    <th>Ticket</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.cedula }}</td>
                    <td>{{ cliente.servicio }}</td>
                    <td>{{ cliente.get_prioridad_display }}</td>
                    <td>{{ cliente.ticket }}</td>
                    <td>
                        <button class="btn btn-primary btn-sm btn-editar" data-cliente-id="{{ cliente.id }}">Editar</button>
                        <button class="btn btn-danger btn-sm btn-eliminar" data-cliente-id="{{ cliente.id }}">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade 3" id="modalEditarCliente" tabindex="-1" role="dialog" aria-labelledby="modalEditarClienteLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalEditarClienteLabel">Editar Cliente</h5>
            </div>
            <div class="modal-body">
              <form id="formEditarCliente" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="button" id="guardarCambios" class="btn btn-primary btn-sm">Guardar cambios</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    $(document).ready(function() {
        $(".btn-eliminar").click(function(event) {
            event.preventDefault();

            var csrfToken = getCookie('csrftoken');
            var clienteId = $(this).data("cliente-id");

            $.ajax({
                type: "POST",
                url: "{% url 'app:eliminar' %}",
                data: { cliente_id: clienteId },
                headers: { "X-CSRFToken": csrfToken }, 
                success: function(response) {
                    location.reload();
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
        $(".btn-editar").click(function(event) {
            event.preventDefault(); // Evitar el comportamiento predeterminado del botón
      
            var clienteId = $(this).data("cliente-id");
            var url = "{% url 'app:editar_cliente' 0 %}".replace('0', clienteId);
      
            // Realizar una solicitud AJAX para obtener el formulario de edición
            $.get(url, function(response) {
              // Insertar el formulario en el cuerpo del modal
              $("#modalEditarCliente .modal-body").html(response);
      
              // Mostrar el modal
              $("#modalEditarCliente").modal("show");
            });
        });
    });
</script>
{% endblock %}